"$schema" = "https://yazi-rs.github.io/schemas/yazi.json"

[manager]
ratio = [3, 4, 5]
show_hidden = true
show_symlink = false

[plugin]
prepend_previewers = [
  { mime = "application/*zip", run = "ouch" },
  { mime = "application/x-7z-compressed", run = "ouch" },
  { mime = "application/x-bzip2", run = "ouch" },
  { mime = "application/x-rar", run = "ouch" },
  { mime = "application/x-tar", run = "ouch" },
  { mime = "application/x-xz", run = "ouch" },
  { name = "*.csv", run = "duckdb" },
  { name = "*.json", run = "duckdb" },
  { name = "*.parquet", run = "duckdb" },
  { name = "*.tsv", run = "duckdb" },
]

prepend_preloaders = [
  { name = "*.csv", run = "duckdb", multi = false },
  { name = "*.db", run = "duckdb" },
  { name = "*.duckdb", run = "duckdb" },
  { name = "*.json", run = "duckdb", multi = false },
  { name = "*.parquet", run = "duckdb", multi = false },
  { name = "*.tsv", run = "duckdb", multi = false },
]
