.DS_Store
*private*

.git/
.jj/
.repoprompt/
.ruff_cache/
.venv/

generated/bin/
generated/completions/
generated/functions/
generated/plugins/

home/.config/karabiner/automatic_backups/
home/.config/zellij/plugins/

!*tpl*
