# gitignore

# log
*.log
automatic_backups

# bin (compiled binaries)
bin/cwim
bin/feishu2md
bin/nnn
bin/redo
bin/wayback
bin/warpd
bin/webtty

# bin (downloaded binaries)
bin/pandoc
bin/pandoc-crossref

# zsh
config/shell/zsh_env_private.sh
