default_install_hook_types: [pre-commit, commit-msg, pre-push]
default_stages: [pre-commit, pre-push]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.2.2
    hooks:
      - id: commitizen
      - id: commitizen-branch
        stages: [post-commit]
  - repo: local
    hooks:
      - id: autocorrect-lint
        name: autocorrect lint
        description: "Checks the style of CJK files."
        entry: autocorrect --lint
        language: system
        types: [file]
      - id: autocorrect-fix
        name: autocorrect fix
        description: "Fixes the style of CJK files."
        entry: autocorrect --fix
        language: system
        types: [file]
      - id: lychee
        name: lychee
        description: "Check links in the repository"
        entry: lychee
        language: system
        args:
          [
            "--no-progress",
            "--exclude-loopback",
            "--exclude-path",
            "config/shell/",
          ]
        types: [text]
        pass_filenames: true
        require_serial: true
      - id: ripsecrets-system
        name: ripsecrets
        description: "Prevent committing secret keys into your source code"
        entry: ripsecrets
        language: system
        types: [text]
        args: [--strict-ignore]
        require_serial: true
        minimum_pre_commit_version: "0"
