[core]
excludesfile = ~/.gitignore
ignorecase = false
pager = delta

[interactive]
diffFilter = delta --features=interactive-catppuccin-mocha

[init]
defaultBranch = main

[alias]
pr = "!sh -c 'if [ $# -lt 2 ]; then \
  echo \"Usage: git pr <pull_request_number> <branch_name>\"; \
else \
  git pull --rebase origin main; \
  git fetch origin pull/$1/head:$2; \
  git checkout $2; \
fi' -"

blame = "!sh -c 'git blame -w -C -C -C'"
branch-recent = "!sh -c 'git branch --sort=-committerdate'"
branch-verbose = "!sh -c 'git branch --format \"%(HEAD) %(refname:short),%(color:green)%(objectname:short)%(color:reset),%(color:blue)[%(upstream)]%(color:reset),%(color:red)%(contents:subject)%(color:reset)\" | column -t -s \",\"'"

diff = "!sh -c 'git diff -w'"
diff-conflicts = "!sh -c 'git diff --name-only --diff-filter=U'"
diff-unmerged = "!sh -c 'git diff --name-only --diff-filter=U | uniq | xargs \"$EDITOR\"'"

log-graph = "!sh -c 'git log --graph --decorate --all --date-order --date=format:\"%Y-%m-%d %H:%M:%S\" --pretty=format:\"%C(cyan)%h%Creset %C(black bold)%ad%Creset%C(auto)%d %s\" -n 42'"
log-graphstat = "!sh -c 'git log --pretty=format:\"%C(auto)%h%d%n%s%n%C(auto)%C(blue)%an <%ae>%C(reset), %C(auto)%C(dim)%ad%n\" --graph --stat'"

view-it = "!sh -c 'git log -p --follow \"$1\"' -"
push-it = "!sh -c 'git push --force-with-lease origin head' -"

cc = "!sh -c 'git log --format=format: --name-only | grep -v \"^$\" | sort | uniq -c | sort -rg | head -42'"
stm = "!sh -c 'git status --porcelain | grep \"^ M\" | cut -c 4-'"
untracked = "!sh -c 'git ls-files --others --exclude-standard'"
wip = "!sh -c 'git for-each-ref --sort='authordate:iso8601' --format=' %(color:green)%(authordate:relative)%09%(color:white)%(refname:short)' refs/heads'"

clean-untracked = "!sh -c 'git clean -fd'"
unstage = "!sh -c 'git reset HEAD --'"

[commit]
verbose = true
template = ~/.gitcommit

[branch "main"]
rebase = true

[branch "master"]
rebase = true

[push]
default = current # https://git-scm.com/docs/git-config#Documentation/git-config.txt-pushdefault
autoSetupRemote = true

[rebase]
autoStash = true

[fetch]
recurseSubmodules = true # still requires: git clone --recursive ...

[pull]
rebase = true

[diff]
colorMoved = default
algorithm = histogram
indentHeuristic = true
compactionHeuristic = true

[delta]
navigate = true
side-by-side = true
features = catppuccin-mocha

[delta "catppuccin-mocha"]
blame-palette = "#1e1e2e #181825 #11111b #313244 #45475a"
commit-decoration-style = box ul
dark = true
file-decoration-style = "#cdd6f4"
file-style = "#cdd6f4"
hunk-header-decoration-style = box ul
hunk-header-file-style = bold
hunk-header-line-number-style = bold "#a6adc8"
hunk-header-style = file line-number syntax
line-numbers-left-style = "#6c7086"
line-numbers-minus-style = bold "#f38ba8"
line-numbers-plus-style = bold "#a6e3a1"
line-numbers-right-style = "#6c7086"
line-numbers-zero-style = "#6c7086"
minus-emph-style = bold syntax "#53394c"
minus-style = syntax "#34293a"
plus-emph-style = bold syntax "#404f4a"
plus-style = syntax "#2c3239"
map-styles = \
  bold purple = "#494060", \
  bold blue = "#384361", \
  bold cyan = "#384d5d", \
  bold yellow = "#544f4e" >syntax >syntax >syntax >syntax
syntax-theme = Catppuccin Mocha

[delta "interactive-catppuccin-mocha"]
features = catppuccin-mocha
color-only = true

[merge]
conflictstyle = diff3

[rerere]
enabled = true

[filter "lfs"]
required = true
clean = git-lfs clean -- %f
smudge = git-lfs smudge -- %f
process = git-lfs filter-process

[gc]
reflogExpire = 200
reflogExpireUnreachable = 90

[include]
path = ~/dev/.gitconfig

[protocol]
version = 2 # https://blog.github.com/changelog/2018-11-08-git-protocol-v2-support/

[gpg]
program = /opt/homebrew/bin/gpg

[url "https://github.com/"]
insteadOf = "git@github.com:"
