[metadata]
name = "git-repos"
requirements = ["fd", "git"]
description = """
A channel to select from git repositories on your local machine.

This channel uses `fd` to find directories that contain a `.git` subdirectory, and then allows you to preview the git log of the selected repository.
"""

[source]
command = "fd -HI -t d -t f -d 4 -E Library -E .cache -E .Trash '^\\.git$' /Users/alex -x dirname {}"

[preview]
command = "cd {}; git log --graph --all --color --date=short --pretty=format:'%C(auto)%h %ad %an %s'"
