[metadata]
name = "hidden-files"
description = "Find hidden files including dotfiles"
requirements = ["fd"]

[source]
command = "fd -IHL --ignore-file .DS_Store -t file -x bash -c 'printf \"%q\n\" \"$1\"' _ {}"

[preview]
command = "bat -n --color=always '{}'"
