[metadata]
name = "hidden-dirs"
description = "Find hidden directories including dotfiles"
requirements = ["fd", "eza"]

[source]
command = "fd -IHL -t directory"

[preview]
command = "eza --all --long --time-style long-iso --color always '{}'"
