[metadata]
name = "hidden-files"
description = "Find hidden files including dotfiles"
requirements = ["bat", "fd"]

[source]
command = "fd -IHL -E .git -E .jj -E .DS_Store -E .venv -E .uv_cache -E .ruff_cache -E __pycache__ -E node_modules -t file"

[preview]
command = "bat -n --color=always '{}'"
