[metadata]
name = "hidden-files-zed"
description = "Find hidden files for Zed editor"
requirements = ["bat", "fd"]

[source]
command = "fd -IHL -E .git -E .jj -E .DS_Store -t file"

[preview]
command = "bat -n --color=always '{}'"
