[metadata]
name = "hidden-files-zed"
description = "Find hidden files for Zed editor"
requirements = ["bat", "fd"]

[source]
command = "fd -IHL --ignore-file .DS_Store -E .git -E .venv -t file"

[preview]
command = "bat -n --color=always '{}'"
