[metadata]
name = "hidden-files-max-depth-3"
description = "Find hidden files with max depth of 3 levels"
requirements = ["bat", "fd"]

[source]
command = "fd -IHL --ignore-file .DS_Store -t file -d 3 -x bash -c 'printf \"%q\n\" \"$1\"' _ {}"

[preview]
command = "bat -n --color=always '{}'"
