[metadata]
name = "prompts"
description = "Find prompt template files"
requirements = ["bat", "fd"]

[source]
command = "fd . ~/Developer/ipruning/keel/utils --type file -e txt -e md -e mdx -e yaml"
display = "{split:/:-1}"

[preview]
command = "bat -n --color=always '{}'"
