[metadata]
name = "scripts"
description = "Find utility scripts"
requirements = ["bat", "fd"]

[source]
command = "fd . ~/Developer/ipruning/prototypes/utils/scripts --type file -e sh -e bash -e py -e swift"
display = "{split:/:-1}"

[preview]
command = "bat -n --color=always '{}'"
