# Core Configuration
[core]
excludesfile = ~/.gitignore
pager = delta
editor = nvim

[init]
defaultBranch = main

# Common Operations
[alias]
lg = log --graph --decorate \n-30 --all --date-order --date=format:'%Y-%m-%d %H:%M:%S' \n--pretty=format:'%C(cyan)%h%Creset %C(black bold)%ad%Creset%C(auto)%d %s'

[commit]
verbose = true

# Branch Settings
[branch]
sort = -committerdate

[push]
autoSetupRemote = true

[pull]
rebase = true

[rebase]
autoStash = true

# Diff and Merge Display
[diff]
colorMoved = default

[delta]
navigate = true

[interactive]
diffFilter = delta --color-only

[merge]
conflictstyle = diff3

# Git LFS Settings
[filter "lfs"]
required = true
clean = git-lfs clean -- %f
smudge = git-lfs smudge -- %f
process = git-lfs filter-process

# Garbage Collection Settings
[gc]
reflogExpire = 200
reflogExpireUnreachable = 90

# Other Settings
[include]
path = ~/Developer/.gitconfig
