# Core Configuration
[core]
excludesfile = ~/.gitignore
pager = delta
editor = nvim

[init]
defaultBranch = main

# Common Operations
[alias]
lg = log --graph --decorate \n-30 --all --date-order --date=format:'%Y-%m-%d %H:%M:%S' \n--pretty=format:'%C(cyan)%h%Creset %C(black bold)%ad%Creset%C(auto)%d %s'

[commit]
verbose = true

# Branch Settings
[branch]
sort = -committerdate

[push]
autoSetupRemote = true

[pull]
rebase = true

[rebase]
autoStash = true

# Diff and Merge Display
[diff]
colorMoved = default

[delta]
navigate = true
side-by-side = true
features = catppuccin-mocha

[delta "catppuccin-mocha"]
blame-palette = "#1e1e2e #181825 #11111b #313244 #45475a"
commit-decoration-style = box ul
dark = true
file-decoration-style = "#cdd6f4"
file-style = "#cdd6f4"
hunk-header-decoration-style = box ul
hunk-header-file-style = bold
hunk-header-line-number-style = bold "#a6adc8"
hunk-header-style = file line-number syntax
line-numbers-left-style = "#6c7086"
line-numbers-minus-style = bold "#f38ba8"
line-numbers-plus-style = bold "#a6e3a1"
line-numbers-right-style = "#6c7086"
line-numbers-zero-style = "#6c7086"
# 25% red 75% base
minus-emph-style = bold syntax "#53394c"
# 10% red 90% base
minus-style = syntax "#34293a"
# 25% green 75% base
plus-emph-style = bold syntax "#404f4a"
# 10% green 90% base
plus-style = syntax "#2c3239"
map-styles = \
	bold purple = "#494060", \
	bold blue = "#384361", \
	bold cyan = "#384d5d", \
	bold yellow = "#544f4e" >syntax >syntax >syntax >syntax
# Should match the name of the bat theme
syntax-theme = Catppuccin Mocha

[interactive]
diffFilter = delta --color-only

[merge]
conflictstyle = diff3

# Git LFS Settings
[filter "lfs"]
required = true
clean = git-lfs clean -- %f
smudge = git-lfs smudge -- %f
process = git-lfs filter-process

# Garbage Collection Settings
[gc]
reflogExpire = 200
reflogExpireUnreachable = 90

# Other Settings
[include]
path = ~/Developer/.gitconfig
