format = """\
$sudo\
$username\
$hostname\
$directory\
$git_branch\
$git_status\
$package\
$custom\
$cmd_duration\
$battery\
$shell
$character\
"""
add_newline = false
command_timeout = 1_000

[sudo]
disabled = false
format = '[$symbol]($style)'
style = "bold red"
symbol = 'SU '

[username]
format = '[$user@]($style)'
style_root = "bold red"
style_user = "bold yellow"

[hostname]
format = '[$hostname]($style) '
style = "bold yellow"

[directory]
read_only = ' [RO]'
read_only_style = "bold red"
truncation_symbol = ".../"

[git_branch]
format = "[$branch]($style) "

[package]
format = '[$version]($style) '

[cmd_duration]
format = '[$duration]($style) '
min_time = 10_000
min_time_to_notify = 100_000
show_milliseconds = false

[character]
success_symbol = '[\$](bold green)'
error_symbol = '[\$](bold red)'
vimcmd_symbol = '[<](bold green)'
vimcmd_replace_one_symbol = '[<](bold purple)'
vimcmd_replace_symbol = '[<](bold bold purple)'
vimcmd_visual_symbol = '[<](bold yellow)'

[[battery.display]]
threshold = 20

[[battery.display]]
threshold = 30

[shell]
disabled = false
style = "bold dimmed white"
nu_indicator = ""

[custom.git_user]
command = "git config --get user.name"
format = '[\[$symbol$output\]]($style) '
require_repo = true
style = "bold dimmed yellow"
symbol = ""
when = true

# [custom.git_email]
# command = "git config --get user.email"
# format = '[$symbol$output]($style) '
# require_repo = true
# style = "bold dimmed yellow"
# symbol = ""
# when = true
