layout {
    default_tab_template {
        children
        pane size=1 borderless=true {
            plugin location="compact-bar"
        }
    }

    tab name="amp" {
        pane {
            command "amp" close_on_exit=true
        }
    }
}
