layout {
    default_tab_template {
        children
        pane size=1 borderless=true {
            plugin location="compact-bar"
        }
    }

    tab name="cli" focus=true {
        pane
    }

    tab name="editor" {
        pane {
            command "zsh"
            args "-i" "-c" "hx ."
        }
    }

    tab name="codex" {
        pane {
            command "zsh"
            args "-i" "-c" "codex"
        }
    }
}
