[include]
    path = ~/.gitconfig.local
[alias]
	lg = log --graph --decorate \n-30 --all --date-order --date=format:'%Y-%m-%d %H:%M:%S' \n--pretty=format:'%C(cyan)%h%Creset %C(black bold)%ad%Creset%C(auto)%d %s'
[branch]
    sort = -committerdate # Show most recently changed branches first.
[core]
    excludesfile = ~/.gitignore_global
    pager = delta
[init]
	defaultBranch = main
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true  # use n and N to move between diff sections
    side-by-side = true
[merge]
    conflictstyle = diff3
[push]
	autoSetupRemote = true
[diff]
    colorMoved = default
    tool = difftastic
[difftool]
    prompt = false
[difftool "difftastic"]
    cmd = difft "$LOCAL" "$REMOTE"
[color]
    ui = true
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "diff"]
    meta = 11
    frag = magenta bold
    old = red bold
    new = green bold
    func = 146 bold
    commit = yellow bold
    whitespace = red reverse
[color "diff-highlight"]
    oldNormal = red bold
    oldHighlight = red bold 52
    newNormal = green bold
    newHighlight = green bold 22
[color "status"]
    added = yellow
    changed = green
    untracked = cyan
[filter "lfs"]
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
[gc]
    reflogExpire = 200 # default 90 days
    reflogExpireUnreachable = 90 # default 30 days
[gpg]
    program = gpg
	format = ssh 
[gpg "ssh"]
	program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
[commit]
    # gpgsign = true
[user]
    # name = YOUR_NAME
    # email = YOUR_EMAIL@example.com
    # signingkey = YOUR_GPG_FINGERPRINT
    # editor = YOUR_EDITOR
