db_path = "~/.local/share/atuin/history.db"
key_path = "~/.local/share/atuin/key"

enter_accept = false
exit_mode = "return-query"
# inline_height = 0
search_mode = "fulltext"
show_help = false

history_filter = ["^secret-cmd", "^innocuous-cmd .*--secret=.+", "^#.*"]
