layout {
    pane
    pane size=1 borderless=true {
        plugin location="file:~/.config/zellij/plugins/zjstatus.wasm" {
            format_left  "#[fg=#fab387]{session} {mode} {tabs}"
            format_space ""

            hide_frame_for_single_pane "true"

            mode_normal  "#[fg=#f9e2af] {name} "
            mode_locked  "#[fg=#f38ba8] {name} "

            tab_normal   "#[fg=#585b70] {name} "
            tab_active   "#[fg=#89dceb] {name} "
        }
    }
}
