[ui]
show_preview_panel = false
use_nerd_font_icons = false

ui_scale = 100
theme = "dark"

# ui_scale = 95
# theme = "light"

# Keybindings
# ----------------------------------------------------------------------------
#
# Channel mode
# ------------------------
[keybindings.Channel]
# Quit the application
quit = ["esc", "ctrl-c"]
# Scrolling through entries
select_next_entry = ["down", "ctrl-n", "ctrl-j"]
select_prev_entry = ["up", "ctrl-p", "ctrl-k"]
select_next_page = "pagedown"
select_prev_page = "pageup"
# Scrolling the preview pane
scroll_preview_half_page_down = "ctrl-d"
scroll_preview_half_page_up = "ctrl-u"
# Add entry to selection and move to the next entry
toggle_selection_down = "tab"
# Add entry to selection and move to the previous entry
toggle_selection_up = "backtab"
# Confirm selection
confirm_selection = "enter"
# Copy the selected entry to the clipboard
copy_entry_to_clipboard = "ctrl-y"
# Toggle the remote control mode
toggle_remote_control = "ctrl-r"
# Toggle the send to channel mode
toggle_send_to_channel = "ctrl-s"
# Toggle the help bar
toggle_help = "ctrl-g"
# Toggle the preview panel
toggle_preview = "ctrl-o"


# Remote control mode
# -------------------------------
[keybindings.RemoteControl]
# Quit the application
quit = "esc"
# Scrolling through entries
select_next_entry = ["down", "ctrl-n", "ctrl-j"]
select_prev_entry = ["up", "ctrl-p", "ctrl-k"]
select_next_page = "pagedown"
select_prev_page = "pageup"
# Select an entry
select_entry = "enter"
# Toggle the remote control mode
toggle_remote_control = "ctrl-r"
# Toggle the help bar
toggle_help = "ctrl-g"
# Toggle the preview panel
toggle_preview = "ctrl-o"


# Send to channel mode
# --------------------------------
[keybindings.SendToChannel]
# Quit the application
quit = "esc"
# Scrolling through entries
select_next_entry = ["down", "ctrl-n", "ctrl-j"]
select_prev_entry = ["up", "ctrl-p", "ctrl-k"]
select_next_page = "pagedown"
select_prev_page = "pageup"
# Select an entry
select_entry = "enter"
# Toggle the send to channel mode
toggle_send_to_channel = "ctrl-s"
# Toggle the help bar
toggle_help = "ctrl-g"
# Toggle the preview panel
toggle_preview = "ctrl-o"

[shell_integration.channel_triggers]
"alias" = ["alias", "unalias"]
"env" = ["export", "unset"]
"dirs" = ["cd", "ls", "rmdir", "j", "eza"]
"files" = [
  "bat",
  "cat",
  "chmod",
  "chown",
  "cp",
  "gunzip",
  "gzip",
  "head",
  "less",
  "ln",
  "mv",
  "nano",
  "rip",
  "rm",
  "tail",
  "tar",
  "touch",
  "unzip",
  "vim",
  "xz",
  "zip",
]
"git-diff" = ["git add", "git restore"]
"git-branch" = [
  "git branch",
  "git checkout",
  "git merge",
  "git pull",
  "git push",
  "git rebase",
  "git switch",
]
"docker-images" = ["docker run"]

"channels" = ["tv"]
"csv-files" = ["csvlens"]
"hidden-files" = ["bat", "cat", "cursor", "n", "nvim", "open", "vim", "zed"]
"hosts" = ["ssh"]
"my-sh-files" = ["cmd-execute"]
"py-files" = [
  "marimo edit",
  "marimo run",
  "modal run",
  "modal-cli",
  "python",
  "uv add",
  "uv run",
]
"sh-files" = ["bash", "sh"]
"tmux-sessions" = ["tmux a -t"]
"zellij-sessions" = ["zellij a"]

"my-scripts" = [""]

[shell_integration.keybindings]
"smart_autocomplete" = "ctrl-t"
