[ui]
show_preview_panel = false
theme = "dark"
ui_scale = 100
use_nerd_font_icons = false

# Keybindings
# ----------------------------------------------------------------------------
#
# Channel mode
# ------------------------
[keybindings.Channel]
# Quit the application
quit = ["esc", "ctrl-c"]
# Scrolling through entries
select_next_entry = ["down", "ctrl-n", "ctrl-j"]
select_prev_entry = ["up", "ctrl-p", "ctrl-k"]
select_next_page = "pagedown"
select_prev_page = "pageup"
# Scrolling the preview pane
scroll_preview_half_page_down = "ctrl-d"
scroll_preview_half_page_up = "ctrl-u"
# Add entry to selection and move to the next entry
toggle_selection_down = "tab"
# Add entry to selection and move to the previous entry
toggle_selection_up = "backtab"
# Confirm selection
confirm_selection = "enter"
# Copy the selected entry to the clipboard
copy_entry_to_clipboard = "ctrl-y"
# Toggle the remote control mode
toggle_remote_control = "ctrl-r"
# Toggle the send to channel mode
toggle_send_to_channel = "ctrl-s"
# Toggle the help bar
toggle_help = "ctrl-g"
# Toggle the preview panel
toggle_preview = "ctrl-o"


# Remote control mode
# -------------------------------
[keybindings.RemoteControl]
# Quit the application
quit = "esc"
# Scrolling through entries
select_next_entry = ["down", "ctrl-n", "ctrl-j"]
select_prev_entry = ["up", "ctrl-p", "ctrl-k"]
select_next_page = "pagedown"
select_prev_page = "pageup"
# Select an entry
select_entry = "enter"
# Toggle the remote control mode
toggle_remote_control = "ctrl-r"
# Toggle the help bar
toggle_help = "ctrl-g"
# Toggle the preview panel
toggle_preview = "ctrl-o"


# Send to channel mode
# --------------------------------
[keybindings.SendToChannel]
# Quit the application
quit = "esc"
# Scrolling through entries
select_next_entry = ["down", "ctrl-n", "ctrl-j"]
select_prev_entry = ["up", "ctrl-p", "ctrl-k"]
select_next_page = "pagedown"
select_prev_page = "pageup"
# Select an entry
select_entry = "enter"
# Toggle the send to channel mode
toggle_send_to_channel = "ctrl-s"
# Toggle the help bar
toggle_help = "ctrl-g"
# Toggle the preview panel
toggle_preview = "ctrl-o"

[shell_integration.commands]
"" = "files"
"bat" = "hidden-files"
"cat" = "hidden-files"
"cd" = "dirs"
"cmd-execute" = "my-sh-files"
"csvlens" = "csv-files"
"docker run" = "docker-images"
"export" = "env"
"eza" = "dirs"
"git add" = "git-diff"
"git switch" = "git-branch"
"head" = "files"
"j" = "dirs"
"less" = "files"
"ls" = "dirs"
"n" = "hidden-files"
"nvim" = "hidden-files"
"open" = "hidden-files"
"python" = "py-files"
"sh" = "sh-files"
"ssh" = "hosts"
"tail" = "files"
"tv" = "channels"
"unset" = "env"
"uv run" = "py-files"
"vim" = "hidden-files"
"wget" = "gists"
"zed" = "hidden-files"
"zellij a" = "zellij-sessions"
"zellij attach" = "zellij-sessions"
